<?php
use Alerts\Model\Alert;
/** @var $alerts Alert[] */
?>
<h3 class="mb30">Alerts</h3>
<table class="table widget widget-light border-top-1 table-alerts">
    <tbody>
    <?php foreach($alerts as $alert) : ?>
        <tr>
            <td><span class="<?php echo $alert->getType(); ?>"></span></td>
            <td>
                <p class="mb0">
                <?php if($alert->getType() === Alert::TYPE_LICENSE_EXPIRATION_SOON) : ?>
                    <p><strong>Dear Customer, your contract will expire soon.</strong><br/> Product: <?php echo $alert->getContent(); ?></p>
                <?php elseif($alert->getType() === Alert::TYPE_LICENSE_EXPIRATION): ?>
                    <p><strong>Dear Customer, your contract will expire.</strong><br/> Product: <?php echo $alert->getContent(); ?></p>
                <?php else : ?>
                   <?php echo $alert->getContent(); ?>
                <?php endif; ?>
                </p>
            </td>
            <td class="text-uppercase text-nowrap">*10 Apr 2020</td>
            <td class="text-nowrap">*Action</td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
